<% @micropost = Micropost.new unless @micropost %>
<%= form_for(@micropost, url: microposts_path) do |f| %>
  
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :video, value: @video_id %>
  </div>
  <%= f.submit "Post", class: "btn btn-defoult" %>
<% end %>